<div class='container'>
  <div class='row title'>
    <h2>Resend confirmation instructions</h2>
  </div>
  <div class='col-md-4 col-md-offset-4 devise_form'>
		<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <% resource.errors.full_messages.each do |msg| %>
        <p class='pale-red'><%= msg %></p>
      <% end %>

      <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email Address' %><br/>
      <%= f.submit 'RESEND CONFIRMATION INSTRUCTIONS', class: 'form-control btn-primary' %><br/>
    <% end %>
  </div>
</div>