 body {
 	background-color: #F9F9F9;
 	font-family: 'Verdana';
 }

html, body, .content, .homepage {
  height: 100%;
}

/* 'Universal' classes */
 .centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.left { float: left; }