 body {
 	background-color: #F9F9F9;
 	font-family: 'Verdana';
 }



/* 'Universal' classes */
 .centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.left {
	float: left;
}