<div class="row routes">
  <div class="col-md-8 col-md-offset-2 col-sm-12 col-lg-12 col-lg-offset-0">
    <h1 class="title">New route</h1>

    <%= render 'form' %>

    <%= link_to 'Back', rides_path %>
  </div>
</div>